# Xcode
#
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/

# Package Manager
.swiftpm/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts and installers
*.ipa
*.xcarchive
Payload/
